{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="rba-content">
    <h1>
        <a href="http://genome.jouy.inra.fr/~wliebermeis/rba-models/index.html">
            <img src="{% static 'images/main.jpg' %}" width="180" class="logoresize"></a>&nbsp;&nbsp;
            Resource balance analysis
    </h1>

    <hr>
    
    <p class="pp">
        <a href="http://genome.jouy.inra.fr/~wliebermeis/rba-models/index.html">Main</a>  &nbsp;|&nbsp;
        <a href="http://genome.jouy.inra.fr/~wliebermeis/rba-models/overview.html">Getting started</a>  &nbsp;|&nbsp;
        <a href="http://genome.jouy.inra.fr/~wliebermeis/rba-models/models.html">Models</a>  &nbsp;|&nbsp;
        Simulation  &nbsp;|&nbsp;
        <a href="http://genome.jouy.inra.fr/~wliebermeis/rba-models/theory.html">Theory</a> &nbsp;|&nbsp;
        <a href="http://genome.jouy.inra.fr/~wliebermeis/rba-models/learning.html">Learning materials</a>  &nbsp;|&nbsp;
        <a href="http://genome.jouy.inra.fr/~wliebermeis/rba-models/literature.html">Literature</a> &nbsp;|&nbsp;
        <a href="http://genome.jouy.inra.fr/~wliebermeis/rba-models/downloads.html">Downloads</a> &nbsp;|&nbsp;
        <a href="http://genome.jouy.inra.fr/~wliebermeis/rba-models/contact.html">Contact</a>
    </p>
    <br>

    <h2>RBA simulations</h2>

    <article class="module modelchoice">
        <div class="row">
            <div class="db-models col-md-12">
                <h4>Choose a model</h4>
                <button class="btn btn-primary" onclick="load_model('louis.zip')">Louis</button>
                <button class="btn btn-primary" onclick="load_model('ecoli.zip')">Ecoli</button>
            </div>
            <!--div class="uploadform col-md-6">
                <h4>...or upload a new model</h4>
                <form name="form" enctype="multipart/form-data" action="{% url "index" %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="OK">
                </form>
            </div-->
        </div>

        <hr>
        {% if rbafilename %}
            <div class="row uploaded">
                <div class="col-md-12">
                    Good job! You have uploaded the file {{ rbafilename }}<br>
                    <div class="button-row">
                        <button type="button" class="btn btn-primary" onclick="simulate()">Simulate!</button>
                        {% if status %}
                            <button type="button" class="btn btn-primary" onclick="undo_last()">Undo Last Simulation</button>
                        {% endif %}
                        <button type="button" class="btn btn-primary" onclick="delete_session()">Delete Session</button>
                    </div>
                </div>
            </div>

            {% if model_parameters_list %}
                <hr>
                <button type="button" class="collapsible">Click here if you want to change model parameter values (for advanced users)</button>
                <div class="ps parameters content">
                    <div class="ps-title bold center row">Parameter Value Multipliers</div>
                    {% for parameter in model_parameters_list %}
                        <div class="parameter col-md-12">
                            <input type="text" class="ps-input" id="{{ parameter.0 }}" placeholder="{{ parameter.1 }}">{{ parameter.0 }}<br>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            
            {% if model_species_list %}
                <button type="button" class="collapsible">Click here if you want to change the medium compound concentrations (for advanced users)</button>
                <div class="ps specieses content">
                    <div class="ps-title bold center row">Medium Component Concentrations</div>
                    {% for species in model_species_list %}
                        <div class="species col-md-12">
                            <input type="text" class="ps-input" id="{{ species.0 }}" placeholder="1.0">{{ species.0 }}<br>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </article>

    <div class="gif-wrapper">
        <img src="{% static 'images/loading.gif' %}" id="loading-gif">
    </div>

    {% if status %}
    <hr>
        <article class="module results">
            <h4>Simulation Results</h4>
            <div class="sublist">
                <div class="bold">Download Model</div>
                {% if dl_path %}
                    <a href="{{ dl_path }}" target="_blank">Download Model</a><br>
                {% endif %}
            </div>
            <div class="sublist">
                <div class="bold">Download Logfile</div>
                {% if log_path %}
                    <a href="{{ log_path }}">Download Logfile</a><br>
                {% endif %}
            </div>
            <div class="sublist old-results">
                <div class="bold">Maps & Tabs</div>
                {% if emap_path %}
                    <a href="{{ emap_path }}" target="_blank">Download Escher Map</a><br>
                {% endif %}
                {% if proteomap_path %}
                    <a href="{{ proteomap_path }}" target="_blank">Download Proteomap</a><br>
                {% endif %}
                {% if sbtab_path %}
                    <a href="{{ sbtab_path }}" target="_blank">Download SBtab</a><br>
                {% endif %}
            </div>
            {% if csv_paths %}
                <div class="sublist old-results">
                    <div class="bold">CSV files</div>
                    {% for path in csv_paths %}
                        <a href="{{ path }}" target="_blank">Download {{ path }}</a><br>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="sublist plot-list">
                <div class="bold">Plot Parameters</div>

                <select name="Test" id="select_parameter">
                    {% for parameter in model_parameters_list %}
                        <option value="{{ parameter.0 }}">{{ parameter.0 }}</option>
                    {% endfor %}
                </select>
                <div class="button-row">
                    <button type="button" class="btn btn-primary" onclick="plot_parameter()">Plot!</button>
                </div>
                <div class="plot-result" id="plot-path">
                    {% if plot_path %}
                        <img src="{{ plot_path }}">
                   {% endif %}
                </div>

            </div>
        </article>
    {% endif %}

    {% if errors %}
    <hr>
        <article class="module error">
            {% ifnotequal error_code '[]' %}
                <h4>Errors</h4>
                {% for ec in error_code %}
                    <div class="errors">
                        {{ ec }}
                    </div>
                {% endfor %}
            {% endifnotequal %}
        </article>
    {% endif %}
</div>
{% endblock %}

{% block js%}
<script type="text/javascript" src="{% static 'js/scripts_index.js' %}"></script>
{% endblock %}
