{% extends "base.html" %}
{% load static %}

{% block content %}
<article class="module">
    <header>
        <h1>RBA <small>Ressource Balance Analysis</small></h1>
    </header>
    
    <form name="form" enctype="multipart/form-data" action="{% url "index" %}" method="post">
        {% csrf_token %}
        {{ form }}
        <!--input type="file" placeholder="Rba File" name="zipfile" id="rba-id"/><br-->
        <input type="submit" value="OK">
    </form>

    {% if rbafilename %}
        Good job! You have uploaded the file {{ rbafilename }}<br>
        <div>
            <button type="button" onclick="simulate()">Simulate!</button>
            <button type="button" onclick="delete_session()">Delete Session</button>
        </div>
    {% endif %}

    {% if status %}
        Status: {{ status }}
    {% endif %}

    {% if error_code != '' %}
        {{ error_code }}
    {% endif %}
</article>
{% endblock %}

{% block js%}
<script type="text/javascript" src="{% static 'js/scripts_index.js' %}"></script>
{% endblock %}
