@media screen and (max-width: 767px) {
    body {
        margin-left:6px;
    }

    .center {
        text-align: center;
    }

    .rba-content {
        margin:8px;
    }
    
    td.thirdth {
        font-size:0.7em;
        line-height:1.1em;
        vertical-align:top;
    }

    p {
        font-size:0.8em;
    }

    .ps-title {
        padding-left: 15px;
        margin-bottom: .5rem;
    }

    .pp {
        font-size:0.8em;
    }
    
    .noresize {
        font-size:1em;
    }

    .logoresize {
        width:80px;
    }
    
    .imageresize {
        width:160px;
    }

    td {
        font-size:0.8em;
    }
    
    li {
        font-size:0.8em;
    }
    
    h1 {
        font-size:1.2em;
    }
    
    h2 {
        font-size:1.1em;
    }
    
    h3 {
        font-size:1.0em;
    }
    
    h4 {
        font-size:0.9em;
    }

    .ps-input {
        width: 2rem;
        margin-right: 1rem;
        margin-bottom: .5rem;
    }

    .old-results {
        display: none;
    }
}


@media only screen and (min-width: 768px) {
    html {
        font-size: 14px;
        font-family: Arial, sans-serif;
    }

    .collapsible {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        margin-bottom: 1rem;
    }
    
  
    .active, .collapsible:hover {
        background-color: #ccc;
    }
    
    .content {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .ps-title {
        padding-left: 15px;
        margin-bottom: .5rem;
    }

    .ps-input {
        width: 3rem;
        margin-right: 1rem;
        margin-bottom: .5rem;
    }
    
    .module {
        padding: 2rem;
    }

    .rba-content {
        margin:8px;
        background-color: #ffffff;
        color: #404040;
    }

    h1 {
        width: 100%;
    }

    hr {
        margin-bottom: 16px;
    }

    a {
        text-decoration: none;
        color: #6961fa;
    }

    a:hover {
        color:#9999ff;
    }

    p {
        color: #404040;
        text-align: justify;
    }

    .errors {
        color: red;
    }

    .bold {
        font-weight: 800;
    }

    .sublist a {
        padding-left: 1rem;
    }

    .sublist .bold {
        padding-top: 1rem;
    }

    .uploaded {
        background-color:  #eff5f5;
        padding-bottom: 2rem;
    }

    .modelchoice {
        padding-bottom: 0;
    }

    .uploaded .col-md-12 {
        padding-top: 2rem;
        text-align: center;
    }

    .button-row {
        margin-top: 1rem;
    }

    .t {
        margin-top: .1rem;
    }
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 14px;
    }

    .rba-content {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        max-width: 900px;
    }

    h1 {
        font-size: 36px;
        margin-bottom: 36px;
    }

    h1 {
        width: 900px;
    }

    .pp {
        margin-left: 10px;
        width: 900px;
    }

    .old-results {
        display: none;
    }

    .plot-list .button-row {
        display: inline;
    }
}
